$green:#355B3E;
$bckgbtn:#029664;
$colorWhite:#fff;
$colornoir:#000;
$colorvertclaire:#58745E;
$colorantique:antiquewhite;
body{
    background-color: $colornoir;
  }
  .page {
    background-color: $green;
    height: 900px;
    width: 1600px;
    margin: 10% auto;
  }
  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 1296px;
    margin: auto;
  }
  .container2{
   
    height: 656px;
    width: 550px;
    padding: 50px 30px 8px 30px;
    background-color:$colorWhite;
    
  }
  .text {
    height: 72px;
    width: 390px;
    color: $green;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%
  }
  .text2 {
    color: $colorvertclaire;
  }
  .box{
    color: $green;
    margin-bottom: 20px;
  }
  .boiteCheck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 422px;
    height: 50px;
    color: $colorvertclaire;
  }
  .input {
    width: 422px;
    height: 56px;
    border-radius: 10px;
    color: $colorvertclaire;
    border-color: $bckgbtn;
    text-indent:10px;
  }
  .form-control{
    background-image: url(/img/oeil.svg);
    background-position:right;
    background-repeat:no-repeat;
    background-position-x: 380px;
    
  }
  
  input[type=checkbox] {
    accent-color: $bckgbtn;
}
  button {
    width: 199px;
    height: 48px;
    background-color: $colorWhite;
    border-radius: 10px;
    color: $bckgbtn;
    border-color: $colorvertclaire;
  }
  button:focus {
    background-color: $bckgbtn;
    color: $colorWhite;
  }
  a {
    color: $colorvertclaire;
  }
  .bouton{
    display: flex;
    justify-content: space-between;
    height: 80px;   
  }
  footer {
    width: 456px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    color: $colorvertclaire;
    
  }
  footer a {
    text-decoration: none;
  }
  footer a:focus{
    color: $bckgbtn;
  }
  .imgRight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 714px;
    width: 746px;
    
    background-color: $colorantique;
  }
